<div class = "d-flex justify-content-center">
  Tasks

</div>
<%= link_to  "Add tasks", "#" %>
  <%= check_box_tag(:pet_dog) %>
  <%= label_tag(:pet_dog, "I own a dog") %>
  <%= check_box_tag "Monday", id:"monday" %> Monday