<div>
  <div class = "border border-primary m-3 p-3 rounded">
    <%= notification.actor.name %> commented
    &quot;<b><%= notification.target.comment.tr('@', '') %></b>&quot; in feature 
    <b><%= notification.target.feature.title %></b>
  </div>
</div>